body {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #e5e5e5;
}

div.container {
  padding: 10px;
}
div.navbar {
  margin-left: -10px;
  margin-right: -10px;
}

.form-signin {
  max-width: 300px;
  padding: 20px;
  margin: 0 auto 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
